@mixin button-generic-color($color) {
    background-color: $color;
    border-color: darken($color,10%);
    box-shadow: 0.5px 0.5px 1px $color;
}

.button {
    border-radius: 5px;
    padding: 10px;
    border: 0.5px solid;
    color: black;
    outline: none;
}

@each $type , $color in $button_variants {
    .button--#{$type} {
        @include button-generic-color($color);
    }
}

.button--recicla:after {
    font-family: FontAwesome;
    content: "\f1b8";
}


.button--main {
/*    height: 20px;
    width: 100px;*/
    margin: -20px -50px;
    position: relative;
    top:50%;
    left:50%;
}